<div class="no-padding big-margin" >
    <div class="row">
        <div class="col-sm-12 col-lg-2">
            <ul class="remove-bullet-points">
                <li><%= link_to 'Sugerencias', destroy_user_session_path, method: :delete , class: 'nav-link light-blue-text' %></li>
                <li><%= link_to 'Explorar', destroy_user_session_path, method: :delete , class: 'nav-link light-blue-text' %></li>
            </ul>
        </div>
        <div class="col-sm-12 col-lg-10">
            <div id="postsError"></div>
            <%= render 'posts/form', post: @post %>
            <div id="posts"></div>
        </div>
    </div>
</div>