<div class="d-flex justify-content-center align-items-center main-background h-100">
    <div class="big-padding blue text-left white-text">
        <h1 class="no-margin bold light-blue-text no-margin text-center">
            Red Social
        </h1>
        <p class="no-margin">
            Conecta y conoce a otros alumnos de la comunidad de esta Red Social
        </p>
        <div class="top-space text-center ">
            Aqui va el login
        </div>
        <div class="large-padding text-center">
            <%= link_to "Crear cuenta", new_user_registration_path %>
        </div>
    </div>
</div>