<div class="d-flex justify-content-center align-items-center main-background h-100">
    <div class="big-padding blue text-left white-text">
        <h1 class="no-margin bold light-blue-text no-margin text-center">
            Red Social
        </h1>
        <p class="no-margin">
            Conecta y conoce a otros alumnos de la comunidad de esta Red Social
        </p>
        <br>
        <div class="top-space">
            <%= render 'devise/sessions/new' %>
        </div>
    </div>
</div>