@import '~bootstrap/scss/bootstrap';
@import '@fortawesome/fontawesome-free';

html, body{
    height: 100%;
}

.full-height{
    height: 100%;
}

.no-margin{
    margin: 0;
}

.no-padding{
    padding: 0;
}

.big-padding{
    padding: 2em 1.5em;
}

.large-padding{
    padding: 10px 15px;
}

.big-margin{
    margin: 2em;
}

.medium-margin{
    margin: 1em;
}

.main-background{
    background-image: url('~background.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}

.underline{
    text-decoration: underline;
}

.top-space{
    margin-top: 1em;
}

.remove-bullet-points{
    list-style-type: none;
}

.medium{
    font-size: 1.5em;
}

.border-bottom{
    border-bottom: 1px solid currentColor;
}

.icon-background{
    background-color: lightgray; 
    padding: 3px;
    margin: 3px;
}

//colores
$colors :(
    red       : #FC4349,
    pink      : #E4004F,
    blue      : #2C3E50,
    grey      : #D7DADB,
    dark-grey : #666,
    light-blue: #6DBCDB,
    white     : #fff,
    indigo    : #2F33AC,
    black     : #000
);

@each $color-name, $color in $colors {
    .#{$color-name}{
        background-color: $color;
    }
    .#{$color-name}-text{
        color: $color;
    }
}

.dropdown-toggle::after {
    color: #fff;
}

//sidebar navbar
body {
    font-family: "Lato", sans-serif;
    background-color: #eee;
}

.mySidebar{
    width: 250px;   
}

.sidebar {
    height: 100%;
    width: 250px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #2C3E50;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

.sidebar a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #6DBCDB;
    display: block;
    transition: 0.3s;
}

.sidebar a:hover {
    color: #f1f1f1;
}

.sidebar .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

.openbtn {
    font-size: 20px;
    cursor: pointer;
    background-color: #2C3E50;
    color: white;
    padding: 10px 15px;
    border: none;
}

.openbtn:hover {
    background-color: #2C3E50;
}

#main {
    transition: margin-left .5s;
    padding: 0;
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
    .sidebar {padding-top: 15px;}
    .sidebar a {font-size: 18px;}
}

.navbar-toggler-icon{
    color: #6DBCDB; 
}